* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.menu .btn {
  text-decoration: none;
  color: aliceblue;
  background-color: transparent;
  border: solid 2px rgb(235, 235, 235);
  border-radius: 10px;
  padding: 5px;
  height: 32px;
}

.menu {
  display: flex;
  padding: 14px;
  gap: 10px;
  background-color: rgba(58, 76, 240, 0.856);
  color: aliceblue;
  font-size: 16px;
  filter: drop-shadow(8px 12px 7px rgba(0, 0, 0, 0.308));
  border-bottom: 1px solid rgb(176, 128, 255);
  position: relative;
}

.main {
  display: flex;
  flex-direction: row;
  padding: 20px;
  gap: 20px;
  filter: drop-shadow(8px 12px 7px rgba(0, 0, 0, 0.308));
  background-color:rgba(12, 0, 0, 0.151)
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  background-color: rgba(58, 76, 240, 0.856);
  width: 242px;
  gap: 20px;
  color: rgb(0, 0, 0);
  border-radius: 10px;
  height: 375px;
}

.img {
  border: solid 2px rgb(176, 128, 255);
  border-radius: 50%;
  width: 200px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 25px;
  background-color: rgba(58, 76, 240, 0.856);
  border-radius: 10px;
}

.container-info {
  background-color: #d1d3d4;
  border-radius: 12px;
  font-size: clamp(16px, 2vw, 20px);
  border: 1px solid rgb(176, 128, 255);
}

.content {
  padding: 20px;
  color: rgb(0, 0, 0);
  font-size: 19px;
}

.titulo {
  font-weight: 900;
  margin: 20px;
  font-size: 25px;
  text-decoration: underline;
}

.inforcard {
  display: flex;
  flex-direction: column;
  background-color: #d1d3d4;
  height: 109px;
  width: 204px;
  border-radius: 8px;
  text-align: center;
  justify-content: center;
  border: 1px solid rgb(176, 128, 255);
}

.inforcard ul {
  list-style-type: none;
  text-align: start;
  margin: 10px;
}

.content ul {
  padding-left: 20px;
}

.menu .btn:hover {
  transform: scale(1.1);
  border: 2px solid rgb(176, 128, 255);
}

.menu .btn {
  transition: transform 0.3s;
}

footer {
  font-weight: 500;
  opacity: 0.7;
  color: rgb(0, 0, 0);
}

@media (max-width: 720px) {
  .main {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: fit-content;
    height: fit-content;
    align-items: center;
    
  }
  .menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
  }

  img{
    width: 200px;
  }
  .img, .inforcard {
    display: block;
    width: 100%;
    height: fit-content;
  }
}

